.properties
	padding-left: 120px
	padding-right: 120px
	padding-bottom: 120px
	&-items
		display: flex
		margin-top: 67px
		justify-content: space-between
		padding-left: 22px
		padding-right: 22px
	&-item
		max-width: 280px
		min-width: 220px
		&:first-child
			margin-right: 0
		&:last-child
			margin-right: 0
		&__icon
			display: block
			margin: 0 auto
			height: 76px
		&__text
			display: block
			font-size: 16px
			line-height: 26px
			font-weight: 300
			margin-top: 24px
			text-align: center
			br
				display: none

@media (max-width: 1600px)
	.properties
		&-items
			padding-left: 0
			padding-right: 0
		&-item
			min-width: 180px

@media (max-width: 1366px)
	.properties
		padding-right: 42px
		padding-left: 42px
		&-items
			padding-left: 40px
			padding-right: 43px
			margin-top: 50px
		&-item
			min-width: 120px
			max-width: 130px
			&__icon
				max-height: 65px
				max-width: 64px
			&__text
				font-size: 14px
				line-height: 24px
				color: black
				br
					display: block

@media ( max-width: 990px)
	.properties
		&-items
			padding-left: 0
			padding-right: 0
			flex-wrap: wrap
			margin-top: 20px
			justify-content: space-evenly
		&-item
			margin-top: 30px
			min-width: 130px
			max-width: 150px
			&__icon
				max-height: 50px
				max-width: 50px
			&__text
				br
					display: none