.main-header
	height: 900px
	color: white
	padding-top: 27px
	position: relative
	&__nav-wrap
	&__nav-list
		margin: 0
		margin-top: 10px
		padding: 0
		display: flex
		flex-direction: row
	&__nav-item
		font-family: 'Formular'
		list-style: none
		font-size: 16px
		letter-spacing: .4px
		z-index: 2
		&:not(:last-child)
			margin-right: 20px
		&:after
			content: ""
			width: 10px
			height: 10px
			display: inline-block
			background-image: url('../../img/nav-arrow.png')
			background-repeat: no-repeat
			background-position: center 65%
			margin-left: 3px
		&-link
			color: white
			&:hover
				color: #80999f
				text-decoration: none
	.container
		max-width: 1400px
		padding: 0
	&__phone-email
		display: flex
		justify-content: flex-end
		flex-direction: column
		align-items: flex-end
		padding-right: 10px
	&__phone, &__email
		font-family: 'Formular'
		font-size: 16px
		z-index: 2
		color: white
	&__phone
		letter-spacing: .3px
		&:hover
			color: white
			text-decoration: none
	&__email
		letter-spacing: -.3px
		&:hover
			color: white
			text-decoration: none
	&__order-call-wrap
		z-index: 2
	&__order-call
		border: 1px solid white
		height: 84%
		width: 106%
		margin-left: -10px
		margin-top: 3px
		letter-spacing: .4px
		border-radius: 50px
		display: flex
		justify-content: center
		align-items: center
		font-family: 'Formular'
		font-size: 16px
		z-index: 2
		color: white
		transition: .1s
		&:hover
			text-decoration: none
			color: black
			background-color: white
	&__slider
		position: absolute
		top: 0
		width: 100%
		height: 100%
		&-title
			max-width: 962px	
			font-family: 'Formular'
			font-size: 60px
			line-height: 66px
			margin-top: -10px
			margin-bottom: 50px
		&-button
			max-width: 231px
			height: 52px
			border-radius: 170px
			border: 1px solid white
			background-color: #fff
			color: black
			display: flex
			justify-content: center
			align-items: center
			font-family: 'Formular'
			font-size: 16px
			transition: .1s
			&:hover
				color: white
				background-color: #1a8ea5
				border-color: #1a8ea5
				text-decoration: none
		.owl-item div, .owl-stage-outer, .owl-stage, .owl-item
			height: 100%
		.owl-item div
			display: flex
			flex-direction: column
			justify-content: center