.offers-slider
	

	&__item
		margin-bottom: 60px
		overflow: hidden
		min-height: 595px
		background-color: grey
		width: 100%
		position: relative
		display: flex
		padding-left: 80px
		color: #fff
		background-size: cover
		background-position: top center

	&__top, &__bottom
		position: absolute
		left: 80px
	
	&__top 
		top: 1px
		left: 30px

	&__bottom
		bottom: 36px
		font-size: 16px
		z-index: 1
	
	&__content
		margin-top: 117px		
		max-width: 500px
		z-index: 1

	&__item-title
		color: #fff
		font-size: 36px
		font-weight: bold

	&__item-description 
		margin: 10px 0 26px
		font-size: 16px
		max-width: 390px
		line-height: 1.5

	&__button
		background-color: transparent
		color: #fff
		display: inline-block
		font-weight: bold
		vertical-align: middle
		border-radius: 35px
		border: 1px solid #fff
		font-size: 16px
		line-height: 50px
		height: 50px
		transition: all .25s
		white-space: no-wrap
		padding: 0 40px
		
		&:hover
			text-decoration: none 
			color: #111
			background-color: #fff	

	&__item-conditions
		color: #b1d5dd
		border-bottom: 1px dashed #b1d5dd
		position: relative
		cursor: pointer
		line-height: 1
		display: inline-block
		transition: all .25s
		&:hover
			text-decoration: none
			color: #fff
		
		// 	.offers-slider__popup-mini
		// 		opacity: 1
		// 		visibility: visible
		// 		//transform: translateY(100%)





	&__item-time 
		color: #b1d5dd
		margin-left: 13px

	&__item-discount
		position: absolute	
		right: 8.9%
		z-index: 1	
		top: 36px	
		width: 216px
		height: 216px
		border-radius: 50% 50% 50% 0
		background-color: #f33f27
		padding-left: 47px	
		box-sizing: border-box
		padding-top: 66px			
		color: #fff
		font-size: 18px	

	&__item-last-price		
		font-size: 18px	
		position: relative
		margin: 12px 0 0px 0

		&:after
			content: ''
			height: 1px
			width: 55px
			background-color: #000
			transform: rotate(-20deg)
			position: absolute
			left: -2px
			top: 12px

	&__item-cur-price
		font-size: 34px	
		line-height: 1
		letter-spacing: 1px

	&__item-img
		max-width: 384px
		position: absolute
		right: 21%
		top: 90px
		z-index: 0

	&__item-type
		width: 176px
		height: 36px
		//background-size: cover
		text-align: center
		background-image: url('../img/offers-type-back.png')
		background-repeat: no-repeat
		font-weight: 500
		font-size: 16px
		padding-top: 5px


	&__popup-mini
		opacity: 0
		transition: all .25s
		position: absolute
		top: 0
		left: 0
		transform: translateY(calc(-100% - 18px))
		visibility: hidden
		width: 370px
		max-width: 500px
		box-sizing: border-box

		&.active
			opacity: 1
			visibility: visible
	
	.swiper-pagination
		bottom: 0
		text-align: center
	.swiper-pagination-bullet
		width: 4px
		height: 4px
		background-color: #000
		margin: 0 15px
		display: inline-block
		transition: all .25s
		opacity: 1

		//display: inline-block
		&-active
			transform: scale(2)
			opacity: 1

	

// poup-mini

.popup-mini
	//padding: 30px 30px 30px 30px
	background-color: #fff
	//max-width: 320px
	color: #000
	display: block
	
	&__title
		font-size: 16px
		font-weight: bold
		margin-bottom: 10px
		padding: 30px 30px 0 30px

	&__text
		padding: 0 30px 30px 30px
		line-height: 1.5	
@media screen and (max-width: 1366px)
	.offers-slider
		&__content
				margin-top: 80px
				position: relative
				z-index: 1
		
		&__bottom
			bottom: 23px
			left: 62px

		&__item
			min-height: 380px
			padding-left: 62px
			margin-bottom: 46px
			
			&-img
				top: 65px
				right: 18.5%
				max-width: 344px

			&-type
				display: none

			&-title
				font-size: 24px

			&-description
				font-size: 14px
				line-height: 1.7
				margin-top: 16px
				margin-bottom: 25px

			&-conditions, &-time
				font-size: 14px
				letter-spacing: -0.2px

			&-time
				margin-left: 15px

			&-discount
				box-sizing: border-box
				width: 177px
				height: 177px
				padding-left: 42px
				font-size: 16px
				top: 33px
				right: 95px
				padding-top: 42px
			
			&-last-price
				margin-bottom: 
				margin-top: 10px	
		
			&-cur-price
				font-size: 30px

		
@media screen and (max-width: 767px)

	.offers-slider 
		&__item 

			&-discount
				right: 360px
				top: 20px
				border-radius: 50% 50% 0 50%
				height: 150px
				width: 150px
				padding: 20px
				font-size: 15px
				padding-left: 30px
				padding-top: 30px
			&-img
				right: 70px

			

		&__content
			position: absolute
			bottom: 0
			left: 0
			box-sizing: border-box
			right: auto
			max-width: 100%
			width: calc(100% - 62px)
			padding: 10px 20px 15px
			padding-right: 0px
			background-color: rgba(#fff, 0.4)	

		&__item-description
			padding-right: 60px


		&__bottom
			display: none

@media screen and (max-width: 491px)
	.offers-slider 
		&__item 
			&-discount
				border-radius: 50%
				left: 5px
				top: 5px
				right: auto
				width: 100px
				padding: 15px 0 0 22px 
				height: 100px
				font-size: 11px

			&-discount-perc
				display: none

			&-last-price 

			&-cur-price
				font-size: 18px
				font-weight: bold

			&-img 
				max-width: 300px
				top: 10px
				left: 15px
				right: auto

