@import "vars"
@import "fonts"
@import "libs"
body
	min-width: 320px

.block
	max-width: 1404px
	margin: 0 auto
	padding: 120px 120px 0

h4
	font-family: Formular
	font-weight: 600
	font-size: 20px

@import "media" // Always at the end
